<div id="page-wrapper">

    <div class="container-fluid">

 <!-- Page Heading -->
 
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Wifi Search
                </h1>
        
            </div>
        </div>
        
    


        <div ng-repeat="alert in alerts">
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-{{alert.type}} alert-dismissable">
                    <!-- <div class="alert alert-info alert-dismissable"> -->
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <i class="fa fa-info-circle"></i>  {{alert.msg}}
                    </div>
                </div>
            </div>
        </div>

<!-- panels-->

		<div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    	<h3 class="panel-title">
	                        <a data-toggle="collapse" data-target="#collapseOptionsSearch"
								data-target="#collapseOptionsSearch" class="collapsed"> <i
								class="fa fa-globe fa-fw"></i> Search
							</a>
						</h3>
                    </div>
                    <div id=collapseOptionsSearch class="panel-collapse collapse">
		                 <div class="panel-body">
		                 	<form name="cellForm" novalidate class="form-horizontal" role="form"  >
		                 
								<div class="form-group">
									<label class="col-sm-2 control-label" for="inputStart" title="Date to query from" data-toggle="tooltip">Date: </label>
									<div class="col-sm-5">
										<p class="input-group">
	
							              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="search.dt" is-open="opened" min-date="minDate" max-date="today" datepicker-options="dateOptions" ng-disabled=true close-text="Close" />
							              <span class="input-group-btn">
							                <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							              </span>
							            </p>
							        </div>
					            </div>
					            <div class="form-group">
					            	<label class="col-sm-2 control-label" for="inputStart" title="Range in days from the selected date" data-toggle="tooltip">Range in days: </label>
									<div class="col-sm-5">
					              		<input type="text" class="form-control" ng-model="search.range"/>
					              	</div>
					            </div>
					             <div class="form-group">
					            	<label class="col-sm-2 control-label" for="inputStart" title="Maximum number of results" data-toggle="tooltip">Max nr of results: </label>
									<div class="col-sm-5">
					              		<input type="text" class="form-control" ng-model="search.size"/>
					              	</div>
					            </div>
				            </form>
						</div>
					</div>
                    <div class="panel-body">
						<form name="wifiForm" novalidate class="form-inline form-group"  >
								<label class="control=label" for="inputStart">SSID: </label>
								<input type="text" class="form-control" placeholder="SSID" ng-model="search.ssid" />
								<label class="control=label" for="inputStart">BSSID: </label>
								<input type="text" class="form-control" placeholder="BSSID" ng-model="search.bssid" />
								
										

								<button type="submit" class="btn btn-success" ng-click="getWifi()" ng-disabled="wifiForm.$invalid">search</button>	
						</form>
                    </div>
                </div>
            </div>
        </div> 

		<div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-globe fa-fw"></i> Map </h3>
                    </div>
                    <div class="panel-body">
		    	
						<leaflet event-broadcast="events" layers="layers" controls="controls" center='center' width="100%" height="480px" geojson="geojson" ng-class='{desaturate:desaturate}' geohash="geohash" cellgeohash="cellgeohash" ></leaflet>
					</div>
				</div>
			</div>

			<div class="col-lg-6">

				<div class="row">
					<div class="col-lg-12" ng-if="wifis">
		                <div class="panel panel-default">
		                    <div class="panel-heading">
		                        <h3 class="panel-title"><i class="fa fa-signal fa-fw"></i> Results (max signal)</h3>
		                    </div>
		                    <div class="panel-body">
	                    		<table width=100% class="table table-striped">
									<tr >
										
										<th>BSSID</th>
										<th>SSID</th>
										<th>Signal Strength</th>
										<th># measurements</th>

									</tr>
									<tr ng-repeat="hit in wifis" ng-class="{activetr:hit.selected===true}" ng-click='addToMap(hit)'>
										<td>{{hit.key}}</td>
										<td>{{hit.ssid}}</td>
										<td> {{hit.maxSignal}}</td> 
										<td> {{hit.doc_count}}</td> 
									</tr>
								</table>
		                    </div>
		                </div>
					<div>
				</div> <!--row-->
			</div>
		</div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->
