<!-- <div id="page-wrapper">

    <div class="container-fluid">

        
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Celllogger <small>Overview</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </li>
                </ol>
            </div>
        </div>
        
	


		<div ng-repeat="alert in alerts">
	        <div class="row">
	            <div class="col-lg-12">
	            	<div class="alert alert-{{alert.type}} alert-dismissable">
	                <div class="alert alert-info alert-dismissable">
	                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	                    <i class="fa fa-info-circle"></i>  {{alert.msg}}
	                </div>
	            </div>
	        </div>
    	</div>
        

		


       

    </div>
    

</div>



 -->